
/* .nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
} */

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: white;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.user .route-link{
    margin: 0;
}

.nav-links{
    height: 100%;
   
}

.user-links{
    height: 100%;
   
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 30px;
}

.user-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 30px;
}

.route-link{
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.route-link:hover{
    color: #920303;
}

.cart{
    display: flex;
}